doctype html
html(lang="pt-br")
  head
    //- Includes
    include includes/js.pug
    include includes/guilds.pug
    include includes/head.pug
    title !{bot.user.username} || Dashboard

    //- CSS do Choices
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css")

  body
    include includes/navbar.pug
    
    .container.my-5
      .card.shadow-lg.border-0.rounded-4.bg-dark.text-light
        .row.g-0

          //- Lado esquerdo (logo e título)
          .col-md-4.d-flex.flex-column.align-items-center.justify-content-center.p-4.border-end.border-secondary
            img(src=guildIcon width="150" height="150").rounded-circle.border.mb-3
            h4.fw-bold.text-light !{guild.name}
            a.text-info.mt-2.text-decoration-none(href=`/guilds/${guild.id}`) ⚙️ Configurações Gerais
            a.text-info.mt-2.text-decoration-none(href=`/guilds/${guild.id}/welcomer`) 🚪 Mensagens de entrar/sair
            a.text-info.mt-2.text-decoration-none(href=`/guilds/${guild.id}/autorole`) 🎭 Cargos automáticos

          //- Lado direito (formulário)
          .col-md-8.p-5
            h3.fw-bold.mb-4.text-info ⚙️ Configurações Gerais
            form#guildForm
              .mb-3
                label.form-label.text-light(for="prefix") Prefixo
                input#prefix.form-control.form-control-lg.rounded-pill.bg-secondary.text-light.border-0(type="text" placeholder="Digite o prefixo do bot" value=`${guildData.prefix || '-'}`)
                small.text-light Escolha um prefixo para seu servidor

              .form-check.form-switch.my-4
                input.form-check-input(type="checkbox" id="toggleMessage" checked=guildData.restricted.active)
                label.form-check-label.text-light(for="toggleMessage") Enviar uma mensagem quando usar comandos em canais proibidos

              .form-group.mb-4
                label.form-label.text-light(for="blockedChannels") Canais que serão proibidos usar comandos
                select#blockedChannels.form-control.disabled(name="blockedChannels" multiple)
                  each channel in guildChannels
                    if channel.type === 0
                      option(
                        value=`${channel.id}`
                        selected=guildData.restricted.channels.includes(channel.id)
                      ) #{channel.name}
                label.form-label.text-light(for='messageRestricted') Mensagem que será enviada quando usar comandos em canais proibidos
                textarea#messageRestricted.form-control.bg-secondary.text-light.border-0.rounded-3(name="messageRestricted" rows="3") #{guildData.restricted.message || 'Você não pode usar comandos nesse canal!'}
                
                a.btn.btn-outline-info.btn-sm.mt-3(href="/embed-builder") 📝 Embed Builder

              button.btn.btn-success.btn-lg.rounded-pill.px-4(type="submit") 💾 Salvar

              // Dropdown mostrando quais placeholders estão disponíveis
              .mt-4
                .dropdown 
                  button.btn.btn-primary.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Placeholders Disponíveis
                  ul.dropdown-menu
                    li
                      a.dropdown-item(href="#") {@user} - Menciona o usuário que provocou a ação 
                    li
                      a.dropdown-item(href="#") {user} - Mostra o nome do usuário que provocou a ação
                    li
                      a.dropdown-item(href='#') {user.id} - Mostra o ID do usuário que provocou a ação
                    li
                      a.dropdown-item(href=`#`) {user.avatar} - Mostra a URL do avatar do usuário que provocou a ação
                    li
                      a.dropdown-item(href=`#`) {user.nickname} - Mostra o apelido do usuário que provocou a ação
              

    include includes/footer.pug
    //- Scripts
    script(src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js")
    script(src="/js/guilds.js")